# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python package build artefacts
build/
dist/
*.egg-info/

# Voila temporary files
voila/
